@font-face {
  font-family: SB Sans Display;
  
  src: url("./fonts/SBSansDisplay-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SB Sans Display;
  src: url("./fonts/SBSansDisplay-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: SB Sans Text;
  src: url("./fonts/SBSansText-Light.otf");
}

body {
  margin: 0;
}

